<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>352726097676-db0drehbpb5uku205n3rjjt8g38qug9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352726097676-db0drehbpb5uku205n3rjjt8g38qug9l</string>
	<key>API_KEY</key>
	<string>AIzaSyBrq70_ZSfSvfbg5A3xpqgQeF_0-F2jRWI</string>
	<key>GCM_SENDER_ID</key>
	<string>352726097676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MooreDevelopments.Dispatch_App</string>
	<key>PROJECT_ID</key>
	<string>dispatcher-app-c5ff0</string>
	<key>STORAGE_BUCKET</key>
	<string>dispatcher-app-c5ff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:352726097676:ios:ec073e2ed41b3650</string>
	<key>DATABASE_URL</key>
	<string>https://dispatcher-app-c5ff0.firebaseio.com</string>
</dict>
</plist>
